* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: rgb(160, 157, 157);
}

a,
i {
  color: #d19c97;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ba6a62;
}

.badge {
  color: grey;
  font-size: 80%;
}

.pink {
  background-color: #d19c97;
  color: black;
}
.pink:hover {
  background-color: #ba6a62;
  color: black;
}
.fa-angle-down {
  color: black;
}

.navbar-vertical.navbar-light .navbar-nav .nav-link {
  padding: 8px 30px;
  border-bottom: 1px solid #edf1ff;
}
#navbarCollapse {
  font-size: 20px;
}

.topbar {
  font-size: 20px;
}

.offer img {
  position: absolute;
  max-width: 50%;
  max-height: 90%;
  bottom: 0;
}

.offer .text-md-right img {
  left: 0;
}

.offer .text-md-left img {
  right: 0;
}
.section-title {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: bold;
  color: #1c1c1c;
}

.section-title span {
  position: relative;
  background: #ffffff;
  z-index: 1;
}

.section-title::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background: #1c1c1c;
}
.cat-item .cat-img img,
.product-item .product-img img {
  transition: 0.5s;
}
.cat-item:hover .cat-img img,
.product-item:hover .product-img img {
  transform: scale(1.2);
}
.product-item .btn:hover {
  color: #d19c97 !important;
}
.text-primary {
  color: #d19c97 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ba6a62 !important;
}
.btn-primary {
  background-color: #ba6a62 !important ;
  border: 1px solid #ba6a62 !important;
}
.btn-primary:hover {
  background-color: #d19c97 !important ;
  border: 1px solid #d19c97 !important;
}
.fa-angle-double-up {
  color: white !important; 
}

.form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

.back-to-top {
  position: fixed;
  display: block;
  right: 10px;
  bottom: 10px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

.mail,
.name {
  border-radius: 5px;
}
.check,
.free,
.return,
.support,
.banner {
  border-radius: 5px;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: black;  
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;  
  background-color: #D19C97;
}

